<article id="<%= dom_id(recipe) %>" class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card">
        <img img loading="lazy" src="<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
        <div class="card-body">
            <h5 class="card-title"><%= recipe.title %></h5>
        </div>
    </div>
</article>